<p id="notice"><%= notice %></p>
<h1><%= @photo.name %></h1>
<%= image_tag @photo.avatar_url %>
<br> Average score: <%= @photo.comments.average_score %>

<h2><%= link_to 'Comments', '#', id: 'comments-link' %></h2>
<div id="comment-section">
  <ol id="comments">
    <%= render @photo.comments %>
  </ol>
<% if user_signed_in? %>
<h3>Add a comment:</h3>
  <%= render 'comments/form' %>
</div>
<% end %>